<EditForm Model="Model" OnSubmit="@SearchSubmit">
    <input @ref="@inputBox" type="search" id="query" name="q" placeholder="Search..." @bind-value="Model.Query">
    <button>@Label <span class="oi oi-external-link" aria-hidden="true"></span></button>
</EditForm>

@code {
    private const string SearchActionText = "Search...";

    private ElementReference inputBox;

    [Inject]
    private IJSRuntime? JSRuntime { get; set; }

    [Parameter]
    public string Label { get; set; }
        = SearchActionText;

    [Parameter]
    public string Placeholder { get; set; }
        = SearchActionText;

    public SearchQuery Model { get; set; }
        = new SearchQuery();

    private bool MessageInputInvalid
        => string.IsNullOrWhiteSpace(Model.Query);

    private async Task SearchSubmit()
    {
        if (!MessageInputInvalid)
        {
            _ = JSRuntime ?? throw new NullReferenceException("JSRuntime cannot be null.");

            var encodedQuery = System.Web.HttpUtility.UrlEncode(Model.Query);
            await JSRuntime.InvokeAsync<string>("open", "https://google.com/search?q=" + encodedQuery, "_blank");

            Model.Query = string.Empty;
            await inputBox.FocusAsync();
        }
    }

    public class SearchQuery
    {
        [System.ComponentModel.DataAnnotations.MinLength(length: 1)]
        [System.ComponentModel.DataAnnotations.MaxLength(length: 1024)]
        [System.ComponentModel.DataAnnotations.Required(AllowEmptyStrings = false)]
        public string? Query { get; set; }
    }
}
