@page "/dashboard"

@using Rise.Blazor.App.Dashboard.Panels

@foreach (var panel in dashboard.Panels)
{
    <div class="card my-4">
        <h1 class="card-header">
            @panel.Title
        </h1>
        <div class="card-body">
            <div class="card-text">
                @{
                    var componentType = ResolveComponent(panel.Component);
                    if (componentType != null)
                    {
                        <DynamicComponent Type="componentType" />
                    }
                    else
                    {
                        <MissingPanel Component="panel.Component"></MissingPanel>
                    }
                }
            </div>
        </div>
    </div>
}

@code {

    Config dashboard = new Config
        {
            Panels = new List<Panel>
    {
        new Panel
        {
            Title = "Search",
            Component = nameof(Search)
        },
        new Panel
        {
            Title = "Counter",
            Component = nameof(Counter)
        },
        new Panel
        {
            Title = "SurveyPrompt",
            Component = nameof(SurveyPrompt),
            Parameters = new Dictionary<string, object> { ["Title"] = "Title From Param!" }
        }
    }
        };

    private Type? ResolveComponent(string componentName)
    {
        return string.IsNullOrEmpty(componentName) ? null
            : Type.GetType($"{this.GetType().Namespace}.Panels.{componentName}");
    }
}